doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content='')
      meta(name='author', content='')
      title trank
      link(href='https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css', rel='stylesheet', crossorigin='anonymous')
      link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.8.2/css/all.css",integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay",crossorigin="anonymous")
      script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",crossorigin="anonymous")
      script(src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.min.js")

      style.
         .page {
            width: 100%;
            margin-top: 2rem; 
            margin-bottom: 2rem; 
            background-color: white;
         }
         
         p, li, h1, h2, h3, h4, h5, h6, strong {
            font-family: Georgia, "Times New Roman", serif;
            text-align: left;
            text-rendering: optimizeLegibility;
            color: #333;
            -webkit-font-smoothing: subpixel-antialiased;
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 1rem;
         }
         .scrollable {
            height: 300px;
            border: 1px solid #ddd;
            background: #fff;
            padding: 6px;
            overflow-y: scroll;
         }
         .scrollable::-webkit-scrollbar {
            background-color: #ccc;
            width: 5px;
         }
         .scrollable::-webkit-scrollbar-thumb {
            background-color: #444;
            height: 25px;
         }
         .code {
            font-family: Courier, "Courier New", Monaco, "Lucida Sans Typewriter", monospace;
         }
         .agree {
            font-family: Georgia, "Times New Roman", serif;
            -webkit-font-smoothing: subpixel-antialiased;
            text-rendering: optimizeLegibility;
            font-size: 1.1rem;
            font-weight: 400;
            font-style: oblique;
            line-height: 1.1;
            text-align: left;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
         }
         img {
            margin-bottom: 2rem;
         }
         strong {
            font-weight: 400;
            font-style: oblique;
         }

         h1, h2, h3, h4, h5, h6 {
            line-height: 1;
            font-weight: 900;
            margin-bottom: 1rem;
            text-align: left;
            padding-top: 1rem;
         }
         h1, h2, h3, h4, h5, h6 {
            font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;;
         }
         h1 { font-size: 2.2rem; margin-bottom: 1.5rem; }
         h2 { font-size: 1.76rem; }
         h3 { font-size: 1.54rem; }
         h4 { font-size: 1.31rem; }
         h5 { font-size: 1.21rem; }
         h6 { font-size: 0.99rem; }


         /* Extra small devices (phones, 600px and down) */
         @media only screen and (max-width: 600px) {
            .page {width: 100%; padding-left: 1rem; padding-right: 1rem;}
            p, li, h1, h2, h3, strong {text-align: left;}
         }

         /* Small devices (portrait tablets and large phones, 600px and up) */
         @media only screen and (min-width: 600px) {
            .page {width: 100%; padding-left: 1rem; padding-right: 1rem;}
         }

         /* Medium devices (landscape tablets, 768px and up) */
         @media only screen and (min-width: 768px) {
            .page {width: 725px; margin-left: 2rem; margin-right: auto;}
         } 

         /* Large devices (laptops/desktops, 992px and up) */
         @media only screen and (min-width: 992px) {
            .page {width: 750px; margin-left: 1in; margin-right: auto; }
         } 

         /* Extra large devices (large laptops and desktops, 1200px and up) */
         @media only screen and (min-width: 1200px) {
         }

   body
      .page
         block allcontent

