#
# TRANK CONFIGURATION
#
mode: {{ mode | default('prod') }} # debug, devel or prod
prefix: {{ prefix | default('https://localhost') }}
core_path: /trank
admin_path: /trank-admin
local_realm: TBD
session_expiration: 1800 # (seconds)
session_maximum_lifetime: 86400 # (seconds) has to be greater or equal to session_expiration
confirm_expiration: 3600 # expiration of email confirmation link (seconds)
session_cookie_name: __trank_id
session_cookie_expiration_name: __trank_expiration
support_email: {{ support_email | default('help@TBD') }}

### FLASK DEVEL SERVER
flask:
   host: localhost
   port: 8443
   debug: false
   threaded: false
   processes: 1
   ssl_cert: keys/key.crt
   ssl_key: keys/key.key


### POSTGRES DATABASE POOL
dbpool:
   name: trank  # postgres database name
   host: {{ database_host | default('postgres') }}
   user: {{ database_user | default('trank') }} # user name
   password: {{ database_password }}
   capacity: 10 # number of connections in pool
   close_on_exception: true
   max_idle_time: 60 # (seconds)
   max_open_time: 600 # (seconds)
   max_usage_count: 1000
   recycle_interval: 60 # (seconds) set to null to disable recycler thread

### SECRETS 
secrets:
   esecret: {{ esecret }}
   psecret: {{ psecret }}
   ssecret: {{ ssecret }}
